<!DOCTYPE html>
<html  lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
<meta name="icons" content="width=device-width, initial-scale=5">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!--code icon form fontawesome.com-->
<link rel = "stylesheet" type="text/css" href =  "../../css/movimentacoes.css">
</head>
<body>
  
<div class="container">
<!--     upside area     -->
    <div class="upsideArea">
        <div class="avatar">
            <img src="https://yt3.ggpht.com/a/AATXAJyk8nhYqLaKpWYQwrxmmpagCSn73dyNzN8QCA=s900-c-k-c0xffffffff-no-rj-mo" alt="">
            <div class="avatarName">Administrador<br>
              <li><a href="">Sair</a>
            </div>
<!--     end of upside area  -->            
        </div>
        <ul class="sideMenu">
            <li><a href="/emprestimo/create"><i class="fa fa-briefcase my-icon"></i></span>Efetuar empréstimos</a></li>
            <li><a href="/devolucao/create"><i class="fa fa-shopping-basket my-icon"></i></span>Efetuar devoluções</a></li>
            <li><a href="/movimentacao/buscar"><i class="fa fa-shopping-basket my-icon"></i></span>Movimentações</a></li>
            <li><a href="/leitores/create"><i class="fa fa-list my-icon"></i></span>Cadastrar Leitores</a></li>
            <li><a href="/books/create"><i class="fa fa-list my-icon"></i></span>Cadastrar Livros</a></li>
            <li><a href="/editora/create"><i class="fa fa-list my-icon"></i></span>Cadastrar Editora</a></li>
            <li><a href="/autor/create"><i class="fa fa-list my-icon"></i></span>Cadastrar Autores</a></li>
            <li><a href="/admin/create"><i class="fa fa-list my-icon"></i></span>Cadastrar Admin</a></li>
            <li><a href="/leitores/buscar/{id}"><i class="fa fa-list my-icon"></i></span>Buscar Leitores</a></li>
            <li><a href="/books/buscar/{id}"><i class="fa fa-list my-icon"></i></span>Buscar Livro</a></li>
            <li><a href="/admin/buscar/{id}"><i class="fa fa-list my-icon"></i></span>Buscar Admin</a></li>
            <li><a href="/editora/buscar/{id}"><i class="fa fa-list my-icon"></i></span>Buscar Editora</a></li>
            <li><a href="/autor/buscar/{id}"><i class="fa fa-list my-icon"></i></span>Buscar Autor</a></li>
        </ul>
    </div>
<!--     SIDE AREA -->
    <div class="mainArea">
        <div class="mainContent">

          <!-- list -->
        <div class="areaFilter fr row">
        </div>
        <div action="/admin/buscar/(id = ${admin.id})" method="GET"  class="form">

        </div>
            <form>
                <table	id="tabela-emprestimo" class="table  table-striped   table-bordered  table-hover" th:if="${admin}">
                    <div class="formHeader row">
                        <h2 class="text-1 fl">Admin</h2>
                    </div>
                    <thead class="form">
                        <tr class="form">
                            <th>Id</th>
                            <th>Nome Admin</th>
                            <th>Telefone Admin</th>
                            <th>email Admin</th>
                        </tr>
                    </thead>
                    <tbody class="form">
                    <tr th:each="admin : ${admin}" class="form">
                        <td data-label="Id" th:text="${admin.id}" ></td>
                        <td data-label="Nome Admin" th:text="${admin.nome}"></td>
                        <td data-label="Telefone Admin" th:text="${admin.telefone}"></td>
                        <td data-label="Email Admin" th:text="${admin.email}"></td>
                    </tr>
                    </tbody>
                </table>
             </form>
    </div>
        <div class="formHeader row" th:unless="${admin}">
            <h3 class="text-1 fl">Admin não encontrado</h3>
        </div>
    </div>
        <!-- END CONTAINER  -->
</div>
</body>
</html>