<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta name="icons" content="width=device-width, initial-scale=5">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!--code icon form fontawesome.com-->
 	<link rel = "stylesheet" type="text/css" href = "../../css/efetuar_emprestimos.css">

</head>
<body>
  
<div class="container">
<!--     upside area     -->
    <div class="upsideArea">
        <div class="avatar">
            <img src="https://yt3.ggpht.com/a/AATXAJyk8nhYqLaKpWYQwrxmmpagCSn73dyNzN8QCA=s900-c-k-c0xffffffff-no-rj-mo" alt="">
            <div class="avatarName">Administrador<br>
            <li><a href="">Sair</a>
            </div>
<!--     end of upside area  -->            
        </div>
        <ul class="sideMenu">
            
          <li><a href="invoice_list.php"><i class="fa fa-briefcase my-icon"></i></span>Efetuar empréstimos</a></li>
            <li><a href="product_list.php"><i class="fa fa-shopping-basket my-icon"></i></span>Efetuar devoluções</a></li>
            <li><a href="product_list.php"><i class="fa fa-shopping-basket my-icon"></i></span>Movimentações</a></li>
            <li><a href="order_list.php"><i class="fa fa-book my-icon"></i></span>Cadastrar Usuários</a></li>
            <li><a href="business_list.php"><i class="fa fa-list my-icon"></i></span>Cadastrar Leitores</a></li>
            <li><a href="business_list.php"><i class="fa fa-list my-icon"></i></span>Cadastrar Livros</a></li>
            <li><a href="business_list.php"><i class="fa fa-list my-icon"></i></span>Cadastrar Editora</a></li>
            <li><a href="business_list.php"><i class="fa fa-list my-icon"></i></span>Cadastrar Autores</a></li>
        </ul>
    </div>

<!--     SIDE AREA -->
    <div class="mainArea">
    <div class="mainContent">  

          <!-- list -->
    <div class="areaFilter fr row">   
</div>

          
<!-- DETAIL FORM -->
<form action="/emprestimo/create" method="POST" class="form" th:object="${emprestimoDTO}">
    <div class="formHeader row">
        <h2 class="text-1 fl">Efetuar Empréstimos</h2>
        <div class="fr">
            <button type="submit" class="btnSave bg-1 text-2a3f54 text-bold fr">SAVE</button><a href="" class="btnAdd fa fa-plus bg-1 text-2a3f54"></a>
        </div>
    </div>
    <div class="formBody row">
        <div class="column s-6">
            <label class="inputGroup">
                <span>Leitor</span>
                <span><input type="text" class="form-control" placeholder="Nome" th:field="*{leitor.nome}"></span>
            </label>
            <label class="inputGroup">
                <span>telefone</span>
                <span><input type="text" class="form-control" placeholder="telefone" th:field="*{leitor.telefone}"></span>
            </label>
            <label class="inputGroup">
                <span>email</span>
                <span><input type="text" class="form-control" placeholder="email" th:field="*{leitor.email}"></span>
            </label>
            <label class="inputGroup">
                <span>Senha</span>
                <span><input type="password" class="form-control" placeholder="Senha" th:field="*{leitor.senha}"></span>
            </label>
            <label class="inputGroup">
                <span>Titulo do Livro</span>
                <span><input type="text" class="form-control" placeholder="Título" th:field="*{livro.titulo}"></span>
            </label>
            <label class="inputGroup">
                <span>Ano</span>
                <span><input type="text" class="form-control" placeholder="ano" th:field="*{livro.ano}"></span>
            </label>
            <label class="inputGroup">
                <span>Autor</span>
                <span><input type="text" class="form-control" placeholder="nome do Autor" th:field="*{livro.autor.nome}"></span>
            </label>
            <label class="inputGroup">
                <span>Data de Nascimento</span>
                <span>
                    <tr>
                    <td>
                        <input type="date" class="form-control" style="min-width:205px" th:field="*{livro.autor.dataNascimento}">
                    </td>
                    </tr>
                </span>
            </label>
            <label class="inputGroup">
                <span>Editora</span>
                <span><input type="text" class="form-control" placeholder="nome da Editora" th:field="*{livro.editora.nome}"></span>
            </label>
            <label class="inputGroup">
                <span>CNPJ</span>
                <span><input type="text" class="form-control" placeholder="cnpj" th:field="*{livro.editora.cnpj}"></span>
            </label>
            <label class="inputGroup">
                <span>Email</span>
                <span><input type="text" class="form-control" placeholder="email" th:field="*{livro.editora.email}"></span>
            </label>
            <label class="inputGroup">
                <span>Telefone</span>
                <span><input type="text" class="form-control" placeholder="Telefone" th:field="*{livro.editora.telefone}"></span>
            </label>
            <label class="inputGroup">
                <span>Data Emprestimo</span>
                <span>
                    <tr>
                    <td>
                        <input type="date" class="form-control" style="min-width:205px" th:field="*{dataEmprestimo}">
                    </td>
                    </tr>
                </span>
            </label>
        </div>
        

    </div>
</form>
    </ul>
</div>  
        </div>
        <!-- END CONTAINER  -->
    </div>
</div>

</body>
</html>